/* IMPORTAÇÃO FONTES LATO */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');



body{
    font-family: 'Lato', sans-serif;
}


/* Header */

*{
    box-sizing: border-box;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    width: 100%;
    background-color: #284C31

}

.cabecalho-imagem {
    width: 140px;
   
}

ul,.cabecalho-menu {
    display: flex;
    gap: 15px;
}

.itens-menu-cabecalho a {
    text-decoration: none;
    font-size: 0.8em;
}

.cabecalho-menu-item {
    color: #f1ede3;
    font-weight: 400px;
    font-size: 20px;
}

.itens-header{
    display: flex;
    gap: 10px;
}

.cart, .user{
    color: white;
}

.input-header{
    margin-right: -35px;
}
