/* IMPORTAÇÃO FONTES LATO */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');



body{
    font-family: 'Lato', sans-serif;
    width: 100%;
}

*{
    box-sizing: border-box;
}


/* --------------- HEADER ---------------*/


/* CONFIG GERAIS */

header {
    background-color: rgb(40, 76, 49);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5em 6em;
    gap: 10px
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #fff;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.nav-item {
    padding: 0 15px;
    position: relative;
    color: #fff;
    text-decoration: none
}

.nav-item:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;

}

.nav-item:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}


.nav-link {
    text-decoration: none;
    font-size: 1.15em;
    color: white;
    font-weight: 400;
}

.nav-search {
    display: flex;
    align-items: center;
    background-color: #507373;
    border-radius: 15px;
    width: 200px;

}

#nav-search-field {
    /*  border: none;
    background-color: transparent;
    color: white;
    outline: none;
    width: 150px;
    font-size: 18px; */



    background-color: transparent;
    padding-left: 5px;
    font-style: italic;
    font-size: 15px;
    border: none;
    height: 32px;
    width: 80%;
    outline: none;
    color: white;


}

#nav-search-field::placeholder {
    color: white;
}

.nav-search-button {
    background-color: transparent;
    border: none;
    color: white;
    padding: 5px;
}

.nav-icons {
    color: white;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 20px;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

.nav-search-mobile {
    display: none;
}

@media (max-width: 768px) {

    .nav-bar {
        padding: 15px;
    }

    .nav-item {
        display: none;
    }

    .nav-search,
    .nav-search-button {
        display: none;
    }
    
    .menu-mobile{
        display: flex;
    }

    .mobile-menu-icon {
        display: flex;
        align-items: center;

    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 15px;
        color: white;
        
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
        margin: 0 auto;
    }


    .mobile-menu li {
        width: 100vw;
        justify-content: center;
    }


    .mobile-menu .nav-item {
        display: flex;
        padding: 1rem 2rem;
    }
    
    /*SEARCH*/

    .nav-search-mobile {
        display: flex;
        flex-direction: row;
        width: 100%;
        color: white;
        background-color: rgb(212, 206, 206);
        padding: 15px;
        text-align: center;
    }

    .nav-search-mobile {
        color: rgb(104, 104, 104);
        display: flex;
        padding: 20px;
        align-items: center;
    }

    .icon-search-mobile{
        font-size: 2rem;
    }

    .nav-search-mobile #nav-search-field {
        padding-left: 15px;
        padding: 28px;
        height: 40px;
        color: rgb(104, 104, 104);
        width: 80vw;
        border-radius: 50px;
        border: 2px solid rgb(159, 150, 150);
        font-size: 25px;

    }

    #nav-search-field::placeholder {
        color: rgb(104, 104, 104);
        text-align: center;
    }


    .open {
        display: block;
    }

}


/* --------------- MAIN ---------------*/
.main {
    min-height: calc(100vh - 80px - 230px);
    overflow: auto;
}

/* --------------- FOOTER ---------------*/
.botao-whatsapp {
    position: fixed;
    z-index: 10;
    color: #FFFFFF;
    right: 10px;
    top: 82%;
    font-size: 50px;
    background-color: #4DC247;
    border-radius: 50%;
    padding: 10px;
    width: 70px;
    height: 70px;
    text-align: center;
    text-decoration: none;
    box-shadow: 4px 4px 4px #c0bdbd;
}

.rodape {
    height: 260px;
    background-color: #284C31;
    color: white;
}

/* BLOCO CADASTRE E RECEBA OFERTA */
.bloco-cadastre-ofertas {
    width: 100%;
    display: flex;
    padding: 16px;
    align-items: center;
    place-content: space-around;
    border-bottom: 1px solid white;
}

.titulo-cadastre-ofertas h3 {
    font-size: 22px;
    font-weight: 600;
}
.titulo-cadastre-ofertas h4 {
    font-size: 16px;
}

.form-cadastre-ofertas .input-nome-cadastre-ofertas, .form-cadastre-ofertas .input-email-cadastre-ofertas {
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    width: 220px;
}
.form-cadastre-ofertas input:first-child {
    margin-right: 30px;
}
.form-cadastre-ofertas input:focus {
    outline: none;
}

.btn-cadastre-ofertas {
    display: inline-block;
    align-items: center;
    font-size: 18px;
    padding: 8px;
    border-radius: 5px;
    background-color: #2F4F4F;
    border: 1px solid white;
    color: white;
    transition: opacity 0.2s ease-in-out;
}
.btn-cadastre-ofertas:hover {
    cursor: pointer;
    opacity: 0.7;
}
.btn-cadastre-ofertas i {
    margin-right: 10px;
    font-size: 22px;
}
/* Fale Conosco */
:root{
    --head-font-weight: 700;
   
    --head-font-style: normal;
   
    --head-color: #282828;
    
}

.fale-conosco{
    text-align: center;
    
    
}
h1.Tipo{
    font-size: 60px;
    margin-bottom: 0;
    line-height: 1.43;
    font-weight: var(--head-font-weight);
    font-style: var(--head-font-style);
    color: var(--head-color);
    
}
.subtitulo {
    margin-top: 20px;
    font-size: 22px;
    font-weight: var(--head-font-weight);
    color: var(--head-color);
    margin-bottom: 10px;
}
.content {
    display: flex;
    justify-content: center;
  }
  
  .contato {
    width: 100%;
    max-width: 500px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  .field {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  
  textarea {
    height: 150px;
  }
  .botao {
    margin-bottom: 15px;
    background-color: lightgray;
    border: 0px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
  }

/* RODAPE BRENO */


.paiInferiorFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    padding: 16px;
    width: 100%; 
    border-bottom: 1px solid white
}
 

.inferiorFooterMedio{
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    margin-left: 5%;  
    font-size: 16px;
}


.inferiorDireita{
    display: flex;
    justify-items: center;
    margin-right: 12%;
    flex-direction: column;
}


.inferiorEsquerda{
    display: flex;
    font-size: 16px;
    justify-items: center;
    margin-left: 12%;
}

.botaoFooter:hover{
    cursor: pointer;
    text-decoration: underline;
    font-size: 16px;  
}

footer a{
    text-decoration: none;
    color: white;
}

footer a:active {
    transition: opacity 0.3s ease-in-out;
}

.copy{
    display: flex;
    justify-content: center;
    font-size: 11px;
    background-color: #284C31;
    text-align: center;
    padding: 3px;
}




    






