/* IMPORTAÇÃO FONTES LATO */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');



body{
    font-family: 'Lato', sans-serif;
    width: 100%;
}

*{
    box-sizing: border-box;
}


/* --------------- HEADER ---------------*/


/* CONFIG GERAIS */


.cabecalho {
    
    padding: 24px;
    width: 100%;
    background-color: #284C31;
    height: 80px;
}

.wrapper-header{
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
/* LOGOMARCA */
.cabecalho-imagem {
    margin-left: 10;
    width: 160px;
    display: inline-block;
}
/* LISTA DE MENUS */
ul,.cabecalho-menu {
    display: flex;
    gap: 15px;
    
}

.itens-menu-cabecalho a {
    text-decoration: none;
    font-size: 0.8em;
}

.cabecalho-menu-item {
    color: #f1ede3;
    font-weight: 400px;
    font-size: 20px;
}
/* ICONES CARRINHO E USUARIO */
.itens-header{
    display: flex;
    gap: 15px;
}

.cart, .user, .search-icon{
    color: white;
}

/* INPUT */

.input-header{
  background-color:#2F4F4F;
  border-radius:15px;
  width:170px;
  display: flex;
  justify-content: space-around;
}  


#campo-busca-header{
   
  float:left;
  background-color:transparent;
  padding-left:5px;
  font-style:italic;
  font-size:10px;
  border:none;
  height:32px;
  width: 60%;
}

#campo-busca-header::placeholder {
    color: rgba(255, 255, 255, 0.819);
  }

.search-icon{

    align-items: center;
    display: flex;
    background-color: transparent;
    border: none;
}

.cabecalho-menu-item {
    position: relative;
    color: #fff;
    text-decoration: none;  
}

.cabecalho-menu-item:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    
  }

.cabecalho-menu-item:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    
  }


/* --------------- MAIN ---------------*/
.main {
    height: calc(100vh - 80px - 230px);
    overflow: auto;
}

/* --------------- FOOTER ---------------*/
.rodape {
    height: 230px;
    background-color: #284C31;
    color: white;
}

/* BLOCO CADASTRE E RECEBA OFERTA */
.bloco-cadastre-ofertas {
    width: 100%;
    display: flex;
    padding: 16px;
    align-items: center;
    place-content: space-around;
    border-bottom: 1px solid white;
}

.titulo-cadastre-ofertas h3 {
    font-size: 22px;
    font-weight: 600;
}
.titulo-cadastre-ofertas h4 {
    font-size: 16px;
}

.form-cadastre-ofertas .input-nome-cadastre-ofertas, .form-cadastre-ofertas .input-email-cadastre-ofertas {
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    width: 220px;
}
.form-cadastre-ofertas input:first-child {
    margin-right: 30px;
}
.form-cadastre-ofertas input:focus {
    outline: none;
}

.btn-cadastre-ofertas {
    display: flex;
    align-items: center;
    font-size: 18px;
    padding: 8px;
    border-radius: 5px;
    background-color: #2F4F4F;
    border: 1px solid white;
    color: white;
    transition: opacity 0.2s ease-in-out;
}
.btn-cadastre-ofertas:hover {
    cursor: pointer;
    opacity: 0.7;
}
.btn-cadastre-ofertas i {
    margin-right: 10px;
    font-size: 22px;
}

/* RODAPE BRENO */
.alinhado{
    display: inline-block
}
.margemEsquerda{
    margin-left: 30px;
}

.paiInferiorFooter{
    width: 100%;
}
.inferiorFooter{
    width: 32%;
    text-align: center;
    display: inline-block;
}
.paiSuperiorFooter {  
    width: 100%;
}

.superiorFooter {
    width: 30%;
    text-align: center;
    display: inline-block;
}